<div class="content">
  <div class="buttons">
    <button (click)="push()">
      <i class="fa fa-plus"></i>
      <span>PUSH</span>
    </button>
    <br>    
    <button (click)="pop()">
      <i class="fa fa-minus"></i>
      <span>POP</span>
    </button>
    <br>
    <button (click)="peek()">
      <i class="fa fa-undo"></i>
      <span>PEEK</span>
    </button>
    <br>
    <button (click)="clear()">
      <i class="fa fa-remove"></i>
      <span>CLEAR</span>
    </button>
    <br>
    <button (click)="calculator()">
      <i class="fa fa-calculator"></i>
      <span>CALCULATOR</span>
    </button>
  </div>
  <div id="stack">

  </div>
</div>
