<div class="content">
  <div class="buttons">
    <button (click)="addFirst('puppy')">
      <i class="fa fa-plus"></i>
      <span>ADD FIRST</span>
    </button>
    <button (click)="addLast(5)">
      <i class="fa fa-plus"></i>
      <span>ADD LAST</span>
    </button>
    <button (click)="removeFirst()">
      <i class="fa fa-mail-forward"></i>
      <span>REMOVE FIRST</span>
    </button>
    <button (click)="removeLast()">
      <i class="fa fa-mail-reply"></i>
      <span>REMOVE LAST</span>
    </button>
    <br>
    <button (click)="enumerate()">
      <i class="fa fa-list"></i>
      <span>ENUMERATE</span>
    </button>
    <button (click)="checkIfExists(3)">
      <i class="fa fa-plus"></i>
      <span>CHECK IF EXISTS</span>
    </button>
    <button (click)="showLength()">
      <i class="fa fa-terminal"></i>
      <span>SHOW LENGTH</span>
    </button>
    <button (click)="removeValue(5)">
      <i class="fa fa-minus"></i>
      <span>REMOVE</span>
    </button>
  </div>

  <div class="linkedList">

  </div>
</div>
