<div class="content">
  <div class="buttons">
    <button (click)="addFirst()">
      <i class="fa fa-plus"></i>
      <span>ADD FIRST</span>
    </button>
    <button (click)="addLast()">
      <i class="fa fa-plus"></i>
      <span>ADD LAST</span>
    </button>
    <button (click)="removeFirst()">
      <i class="fa fa-mail-forward"></i>
      <span>REMOVE FIRST</span>
    </button>
    <button (click)="removeLast()">
      <i class="fa fa-mail-reply"></i>
      <span>REMOVE LAST</span>
    </button>
    <br>
    <button (click)="enumerate()">
      <i class="fa fa-list"></i>
      <span>ENUMERATE</span>
    </button>
    <button (click)="checkIfExists()">
      <i class="fa fa-plus"></i>
      <span>CHECK IF EXISTS</span>
    </button>
    <button (click)="showLength()">
      <i class="fa fa-terminal"></i>
      <span>SHOW LENGTH</span>
    </button>
    <button (click)="removeValue()">
      <i class="fa fa-minus"></i>
      <span>REMOVE VALUE</span>
    </button>
  </div>

  <div id="additionnalData">
    <p *ngIf="showEnumerate">
      The list is currently composed of :
      <br>
      <span *ngFor="let element of list">{{element}}
        <br>
      </span>
    </p>
    <p *ngIf="showListLength">
      The list contains {{length}} elements
    </p>
  </div>

  <div class="linkedList">

  </div>
</div>
